<?xml version="1.0"?>
<!-- /**
 * Aprilo Software.
 *
 * @category Aprilo Software Private Limited
 * @package aprilo_Cashback
 * @author Aprilo
 * @copyright Copyright (c) Aprilo Software Private Limited (https://Aprilo.com)
 * @license https://store.Aprilo.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ProductList\Upsell" type="Aprilo\Cashback\Block\Product\ProductList\Upsell" />
    <preference for="Aprilo\Cashback\Api\CashbackManagementInterface" type="Aprilo\Cashback\Model\CashbackManagement"/>
    <preference for="Mageplaza\GiftCard\Block\Sales\Order\Discount" type="Aprilo\Cashback\Block\Sales\Order\Discount"/>
    <preference for="Mageplaza\GiftCard\Block\Adminhtml\Order\Total\Discount" type="Aprilo\Cashback\Block\Adminhtml\Order\Total\Discount"/>
    <!-- <preference for="Mageplaza\GiftCard\Model\Transaction\Action" type="Aprilo\Cashback\Model\Transaction\Action"/> -->
    <!-- <preference for="Mageplaza\GiftCard\Plugin\Quote\CartTotalRepository" type="Aprilo\Cashback\Plugin\Quote\CustomCartTotalRepository"/> -->
    <!-- <preference for="Mageplaza\GiftCard\Model\Transaction" type="Aprilo\Cashback\Model\Transaction"/> -->
    <!-- <preference for="Mageplaza\GiftCard\Model\Product\Type\GiftCard" type="Aprilo\Cashback\Model\Product\Type\GiftCard"/> -->
    <preference for="Mageplaza\GiftCard\Block\Adminhtml\Customer\Edit\Tab\GiftCard" type="Aprilo\Cashback\Block\Adminhtml\Customer\Edit\Tab\GiftCard"/>
    <type name="Aprilo\Cashback\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ApriloCashbackLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Aprilo\Cashback\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Mageplaza\GiftCard\Helper\Sms">
        <plugin name="Aprilo_whatsapp_giftcard" type="Aprilo\Cashback\Plugin\Helper\SmsPlugin" sortOrder="100"/>
    </type>
    <type name="Mageplaza\Osc\Model\DefaultConfigProvider">
        <plugin name="add_mp_gift_card_to_checkout_config" type="Aprilo\Cashback\Plugin\CheckoutConfigPlugin"/>
    </type>
    <!--Plugin cart total repository to add gift card used to totalsData-->
    <type name="Magento\Quote\Api\CartTotalRepositoryInterface">
        <plugin name="cashback_cart_total_repository_plugin" type="Aprilo\Cashback\Plugin\Quote\CartTotalRepository"/>
    </type>
</config>
